// Header and navigation styles

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;  
  min-height: 60px;
  background-color: rgba($blue-base, .8);  

  @media only screen and (min-width: $screen-sm) {
    min-height: 74px;
  }
}

.cd-nav-trigger {
  position: absolute;
  z-index: 3;
  right: 5%;
  top: 5px;
  height: 54px;
  width: 54px;
  background-color: none;
  border-radius: 50%;
  
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: -webkit-transform $animation-duration - 0.2s;
  -moz-transition: -moz-transform $animation-duration - 0.2s;
  transition: transform $animation-duration - 0.2s;

  .cd-nav-icon {
    /* icon created in CSS */
    position: absolute;
    @include center; // mixin inside partials > _mixins.scss
    width: 22px;
    height: 2px;
    background-color: $white;

    &::before, &:after {
      /* upper and lower lines of the menu icon */
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; 
      background-color: inherit;

      /* Force Hardware Acceleration in WebKit */
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -o-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transition: -webkit-transform $animation-duration - 0.2s, $animation-duration - 0.2s, top 0.3s;
      -moz-transition: -moz-transform $animation-duration - 0.2s, width $animation-duration - 0.2s, top 0.3s;
      transition: transform 0.5s, width $animation-duration - 0.2s, top 0.3s;
    }

    &::before {
      -webkit-transform-origin: left top;
      -moz-transform-origin: left top;
      -ms-transform-origin: left top;
      -o-transform-origin: left top;
      transform-origin: left top;
      -webkit-transform: translateY(-6px);
      -moz-transform: translateY(-6px);
      -ms-transform: translateY(-6px);
      -o-transform: translateY(-6px);
      transform: translateY(-6px);
    }

    &::after {
      -webkit-transform-origin: left bottom;
      -moz-transform-origin: left bottom;
      -ms-transform-origin: left bottom;
      -o-transform-origin: left bottom;
      transform-origin: left bottom;
      -webkit-transform: translateY(6px);
      -moz-transform: translateY(6px);
      -ms-transform: translateY(6px);
      -o-transform: translateY(6px);
      transform: translateY(6px);
    }

  }

  .no-touchevents &:hover .cd-nav-icon::after {
    top: 2px;
  } 

  .no-touchevents &:hover .cd-nav-icon::before {
    top: -2px;
  } 

  svg {
    position: absolute;
    top: 0;
    left: 0;
  }

  circle {
    /* circle border animation */
    -webkit-transition: stroke-dashoffset $animation-duration - 0.3s 0s;
    -moz-transition: stroke-dashoffset $animation-duration - 0.3s 0s;
    transition: stroke-dashoffset $animation-duration - 0.3s 0s;
  }

  .navigation-is-open & {
    /* rotate trigger when navigation becomes visible */
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);

    background-color: $blue-base;

    .cd-nav-icon::after, 
    .cd-nav-icon::before {
      /* animate arrow --> from hamburger to arrow */
      width: 50%;
      -webkit-transition: -webkit-transform $animation-duration - 0.2s, width $animation-duration - 0.2s;
      -moz-transition: -moz-transform $animation-duration - 0.2s, width $animation-duration - 0.2s;
      transition: transform $animation-duration - 0.2s, width $animation-duration - 0.2s;
    }

    .cd-nav-icon::before {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    .cd-nav-icon::after {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    .no-touchevents &:hover .cd-nav-icon::after,
    .no-touchevents &:hover .cd-nav-icon::before {
      top: 0;
    } 

    circle {
      stroke-dashoffset: 0;
      -webkit-transition: stroke-dashoffset $animation-duration - 0.3s 0.3s;
      -moz-transition: stroke-dashoffset $animation-duration - 0.3s 0.3s;
      transition: stroke-dashoffset $animation-duration - 0.3s 0.3s;
    }
  }

  @media only screen and (min-width: $screen-sm) {
    top: 10px;    
  }

  @media only screen and (min-width: $screen-lg) {
    right: 0;
  }
}

.cd-nav {
  font-family: $font-family-serif;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: $blue-base;
  visibility: hidden;
  -webkit-transition: visibility 0s $animation-duration;
  -moz-transition: visibility 0s $animation-duration;
  transition: visibility 0s $animation-duration;

  .cd-navigation-wrapper {
    /* all navigation content */
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: 70px 15% 20px 15%;
    
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    transform: translateX(50%);
    -webkit-transition: -webkit-transform $animation-duration;
    -moz-transition: -moz-transform $animation-duration;
    transition: transform $animation-duration;
    -webkit-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
    -moz-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
    transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
  }

  .navigation-is-open & {
    visibility: visible;
    -webkit-transition: visibility 0s 0s;
    -moz-transition: visibility 0s 0s;
    transition: visibility 0s 0s;
    
    .cd-navigation-wrapper {
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0);
      -webkit-transition: -webkit-transform $animation-duration - 0.2s;
      -moz-transition: -moz-transform $animation-duration - 0.2s;
      transition: transform $animation-duration - 0.2s;
      -webkit-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
      -moz-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
      transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
    }
  }

  h2 {
  	display: none;
    position: relative;
    margin-bottom: 40px;
    font-size: 1.4rem;
    color: rgba($white, .3);

    &::after {
      /* bottom separation line */
      content: '';
      position: absolute;
      left: 0;
      bottom: -20px;
      height: 1px;
      width: 60px;
      background-color: currentColor;
    }
  }

  .cd-primary-nav {
  	text-align: center;
  	border-bottom: 1px solid rgba($white, .3);
    li {
      margin: 1em 0;
    }
    li:first-child {
      margin: 0 0 1em;
    }

    a {      
      font-size: 2.4rem;
      color: $white;
      display: inline-block;
      text-decoration: none;
      -moz-transition: all .2s;
      -webkit-transition: all .2s;
      transition: all .2s;

      &.selected {
        color: $yellow-base;
      }

      &:hover, &:active {
        color: $yellow-base;
      }
    }
  }

  .cd-destinations-nav {
  	text-align: center;
    margin-top: 20px;

    li {
      margin-bottom: 1.5em;
      line-height: 1.2;
      color: rgba($white, .3);
    }

    a {
      font-size: 1.6rem;
      color: $white;
      text-decoration: none;
      -moz-transition: all .2s;
      -webkit-transition: all .2s;
      transition: all .2s;

      &.selected {
        color: $yellow-base;
      }

      &:hover, &:active {
        color: $yellow-base;
      }
    }
  }

  @media only screen and (min-width: $screen-sm) {
    .cd-navigation-wrapper {
      padding: 30px 5%;

      &::after {
        clear: both;
        content: "";
        display: table;
      }

      .col-sm-6 {
        position: relative;
        height: 100%;        
      }
    }

    .centered-nav {
      position: absolute;
      @include center; // mixin inside partials > _mixins.scss
    }

    .cd-primary-nav, .cd-destinations-nav {
    	border: none;
    	text-align: left;
    }
  }

  @media only screen and (min-width: $screen-lg) {

    .cd-navigation-wrapper {
      padding: 45px 10%;
    }

    h2 {
      display: block;
      font-size: 1.6rem;
    }

    .cd-primary-nav {

      li {
        margin: 10px 0;
      }

      a {
        font-size: 4.4rem;
      }
      
    }

    .cd-destinations-nav {
      li {
        margin: 15px 0;
      }

      li, a, span {
        font-size: 2.5rem;
      }
    }
  }
}

.no-js .cd-nav {
  position: static;
  visibility: visible;

  .cd-navigation-wrapper {
    height: auto;
    overflow: visible;
    padding: 100px 5%;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}