@import "bootstrap";
// custom mixins
@import 'mixins';
/* add site style here */

// colors
$blue-base: #092539;
$yellow-base: #dfa903;
$yellow-dark: #bcbb81;
$white: #fff;
$grey-bg: #f2f2f2;
$grey-text: #545454;
$grey-line: #dddddd;
$grey-circle: #7d7d7d;

// animation

$animation-duration: 0.7s;

/* -------------------------------- 

Primary style

-------------------------------- */

*, *::after, *::before {
  @include box-sizing(border-box);
}

html {
  font-size: 62.5%;

  * {
    @include font-smoothing;
  }
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

::-moz-selection { 
  color: $blue-base;
  background: $yellow-base;
}
::selection { 
  color: $blue-base;
  background: $yellow-base;
}

/* -------------------------------- 
Header and nav styles
-------------------------------- */
@import 'header';


/* -------------------------------- 
Main Components 
-------------------------------- */

main {
  position: relative;
  z-index: 2;

  /* fix bug on iOS */
  /*height: 100vh;
  overflow-y: auto;*/
  
  -webkit-overflow-scrolling: touch;
  background-color: $grey-bg;
  
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform $animation-duration;
  -moz-transition: -moz-transform $animation-duration;
  transition: transform $animation-duration;
  -webkit-transition-timing-function: cubic-bezier(.91,.01,.6,.99);
  -moz-transition-timing-function: cubic-bezier(.91,.01,.6,.99);
  transition-timing-function: cubic-bezier(.91,.01,.6,.99); 

  h1, h2, h3 {
    text-align: center;
  }
  
  h1, h2 {
    font-family: $font-family-sans-serif;
    color: $white;    
  }

  h3, p {
    font-family: $font-family-serif;
    color: $grey-text;
  }

  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2rem;
    letter-spacing: 4px;
  }
  h3 {
    font-size: 2.3rem;
    margin: 0;
  } 

  @media only screen and (min-width: $screen-sm) {
    h1 {
      font-size: 5.5rem;
    }
    h2 {
      font-size: 2.5rem;
      letter-spacing: 5px;
    }
  }

  @media only screen and (min-width: $screen-lg) {
    h1 {
      font-size: 7rem;
    }
    h2 {
      font-size: 3.5rem;
      letter-spacing: 7px;
    }
  }

  .navigation-is-open & {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.no-js main {
  height: auto;
  overflow: visible;
}  

/*  ------------------------------- */

.counter {
  position: absolute;
  bottom: 20px;
  right: 5%;
  padding-left: 32px;
  color: $white;
  text-transform: uppercase;
  @media only screen and (min-width: $screen-sm) {
    font-size: 2rem;
  } 
  @media only screen and (min-width: $screen-lg) {
    bottom: 50px;
    padding-left: 40px;
    font-size: 2.5rem;
  }
}

.intro-text {
  text-align: center;
  font-style: italic;
  font-size: 1.5rem;
  @media only screen and (min-width: $screen-sm) {
    font-size: 2rem;
  }
  @media only screen and (min-width: $screen-lg) {
    font-size: 2.3rem;
  }
}

.btn-default {
  background-color: transparent;
  color: $white;
  border: 3px solid $white;
  border-radius: 0px;
  padding: 8px 25px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.7rem;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  @media only screen and (min-width: $screen-sm) {
    padding: 10px 30px;
    letter-spacing: 2px;
    font-size: 2.5rem;
  }
}

.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .btn-default:active:hover, .btn-default:active:focus, .btn-default:active.focus, .btn-default.active:hover, .btn-default.active:focus, .btn-default.active.focus {
    color: $grey-text;
    background-color: $white;
    border-color: $white;
    webkit-box-shadow: none;
    box-shadow: none;
}

.home-banner {  
  position: relative;
  background: rgba($blue-base, .8);
  padding: 75px 0 45px;
    i {
      content: '';
      background-image: url('../img/banners/homepage-vietnam-mob.jpg');  
      background-position: 50% 90%;
      background-size: cover;      
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      @media only screen and (min-width: $screen-sm) {
        background-image: url('../img/banners/homepage-vietnam.jpg');  
      }
    }
    h1 {
      font-family: $font-family-serif;
    }

    h2 {  
      text-transform: uppercase;
      font-weight: bold;
      color: $yellow-base;
    }

    .numbers-count {
      font-family: $font-family-sans-serif;
      color: $white;
      font-size: 2rem;
      text-align: center;
      span {
        display: block;
        font-size: 3rem;
      }
    }

  @media only screen and (min-width: $screen-sm) {
    padding: 100px 0 50px;
    .numbers-count {
      font-size: 2.5rem;
      span {
        font-size: 4rem;
      }
    }
  }
  @media only screen and (min-width: $screen-lg) {
    padding: 130px 0 90px;
    .numbers-count {
      font-size: 3rem;
      span {
        font-size: 5rem;
      }
    }
  }
}

.map-cta {
  background: rgba($yellow-dark, .55);
  padding: 65px 0;
  text-align: center;
  position: relative;
    i {
      content: '';
      background-image: url('../img/banners/gmap-southeast-asia-mob.jpg'); 
      background-size: cover;
      background-position: 50% 70%;     
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      @media only screen and (min-width: $screen-sm) {
        background-image: url('../img/banners/gmap-southeast-asia.jpg');  
      }
    }
  @media only screen and (min-width: $screen-sm) {
    padding: 90px 0;
  }
  @media only screen and (min-width: $screen-lg) {
    padding: 110px 0;
  }
}

.white-stripe {
  background: $white;
  padding: 35px 0;

  p {
    margin-bottom: 0;
  }   
}

.white-stripe.arrow {
  position: relative;

  &::after{
    content: '';
    position: absolute;
    left: 50%;
    top: 100%;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid $white;
    clear: both;
    margin-left: -20px;
    z-index: 10;
  }
}

.timeline {
  position: relative;
  padding: 100px 0; 
  text-align: center;
  
  .row {
    margin-bottom: 50px;
    @media only screen and (min-width: $screen-sm) {
      margin-bottom: 30px;
    }
  }

  &::before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -2px;
    height: 100%;
    width: 3px;
    background: $grey-line;
    z-index: -2;
  }

  .country-block {           
    padding: 50px 0;
    font-size: 3rem;
    text-transform: uppercase;
    color: $white;    
    background: rgba($grey-text, .6);
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;

    i {
      content: ''; 
      background-position: center;
      background-size: 100%;   
      background-repeat: no-repeat;   
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      -moz-transition: background-size .3s;
      -webkit-transition: background-size .3s;
      transition: background-size .3s;      
    }

    i.jp {
      background-image: url('../img/banners/japan-small.jpg');      
    }
    i.vt {
      background-image: url('../img/banners/vietnam-small.jpg');    
    }
    i.cb {
      background-image: url('../img/banners/cambodia-small.jpg');  
    }
    i.th {
      background-image: url('../img/banners/thailand-small.jpg');  
    }
    i.ml {
      background-image: url('../img/banners/malaysia-small.jpg');  
    }
    i.in {
      background-image: url('../img/banners/indonesia-small.jpg');  
    }
    i.tr {
      background-image: url('../img/banners/turkey-small.jpg');  
    }

    @media only screen and (min-width: $screen-sm) {
      width: 48%;
      margin-right: 2%; 

      &::before, &::after {
        content:'';
        position: absolute;
        right: -1px;
        height: 50%;
        padding-left:3%;
        background: $grey-bg;
        -ms-transform-origin: 100% 0;
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0;
      }
      &::before {
        bottom: 50%;        
        -ms-transform: skewY(45deg);
        -webkit-transform: skewY(45deg);
        transform: skewY(45deg);
      }
      &::after {
        top: 50%;
        -ms-transform: skewY(-45deg);
        -webkit-transform: skewY(-45deg);
        transform: skewY(-45deg);
      }    
      &.reverse {
        margin-left: 2%;
        margin-right: 0;
      }
      &.reverse::before, &.reverse::after {
        left: -1px;
        right: auto;        
        -ms-transform-origin: 0 100%;
        -webkit-transform-origin: 0 100%;
        transform-origin: 0 100%;
      }
      &.reverse::before {
        bottom: 50%;
        -ms-transform: skewY(-45deg);
        -webkit-transform: skewY(-45deg);
        transform: skewY(-45deg);
      }
      &.reverse::after {
        top: 50%;
        -ms-transform: skewY(45deg);
        -webkit-transform: skewY(45deg);
        transform: skewY(45deg);
      }  
    }  
  }

  a:hover, a:focus {
    text-decoration: none;
  }

  a:hover .country-block { 
    background: rgba($blue-base, .7);
    color: $yellow-base;      
    i {
      background-size: 110%;  
    }    
  }

  .date-block {
    >div {
      position: relative;
      font-family: $font-family-serif;
      background-color: $white;
      padding: 10px 30px 10px 55px;
      border: 2px solid $grey-circle;
      display: inline-block;
      margin-top: 15px;    
      @media only screen and (min-width: $screen-sm) {
        margin-top: 50px;  
      }
    }

    @media only screen and (min-width: $screen-sm) {
      &::before {
        content:'';
        position: absolute;
        top: 60px;
        left: -10px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 4px solid $grey-circle;
        background: $grey-bg;
        box-shadow: 0 0 0 5px $grey-bg;
        z-index: 10;
      }
      &::after {
        content:'';
        position: absolute;
        top: 70px;
        left: 0;
        width: 50%;
        height: 3px;
        background: $grey-line;
        z-index: -1;
      }
      &.reverse::before {
        right: -10px;
        left: auto;
      }

      &.reverse::after {
        right: 0;
        left: auto;
      }
    }
  }
}

.country-banner {
  position: relative;
  text-align: center;
  padding: 130px 0 100px;
  background: rgba($grey-text, .6);
  i {
    content: ''; 
    background-size: cover;    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  i.japan {
    background-image: url('../img/banners/japan-banner-mob.jpg'); 
    background-position: 100% 0; 
    @media only screen and (min-width: $screen-sm) {
      background-image: url('../img/banners/japan-banner.jpg'); 
    }
  }  
  i.vietnam {
    background-image: url('../img/banners/vietnam-banner-mob.jpg'); 
    @media only screen and (min-width: $screen-sm) {
      background-image: url('../img/banners/vietnam-banner.jpg'); 
    }    
  }  
  i.cambodia {
    background-image: url('../img/banners/cambodia-banner-mob.jpg');  
    background-position: 55% 0;  
    @media only screen and (min-width: $screen-sm) {
      background-image: url('../img/banners/cambodia-banner.jpg');     
    }   
  }  
  i.thailand {
    background-image: url('../img/banners/thailand-banner-mob.jpg');  
    background-position: center 60%;  
    @media only screen and (min-width: $screen-sm) {
      background-image: url('../img/banners/thailand-banner.jpg');  
    }    
  }  
  i.malaysia {
    background-image: url('../img/banners/malaysia-banner-mob.jpg');    
    background-position: 45% 0;
    @media only screen and (min-width: $screen-sm) {
      background-image: url('../img/banners/malaysia-banner.jpg');    
    } 
  }  
  i.indonesia {
    background-image: url('../img/banners/indonesia-banner-mob.jpg');    
    background-position: center 60%;
    @media only screen and (min-width: $screen-sm) {
      background-image: url('../img/banners/indonesia-banner.jpg');   
    } 
  } 
  i.turkey {
    background-image: url('../img/banners/turkey-banner-mob.jpg');  
    background-position: center 60%;  
    @media only screen and (min-width: $screen-sm) {
      background-image: url('../img/banners/turkey-banner.jpg');   
    } 
  }  

  h1 {
    text-transform: uppercase;
    font-weight: bold;
  }
  h2 {
    margin: 0 0 30px;
  }
  .btn {
    margin-top: 20px;
    @media only screen and (min-width: $screen-sm) {
      margin-top: 30px;
    }
    @media only screen and (min-width: $screen-lg) {
      margin-top: 40px;
    }
  }
}

.country-info {
  padding: 60px 0;
  img {
    width: 80%;    
    margin: 0 auto;
    border: 1px solid $grey-line;
    @media only screen and (min-width: $screen-xs) {
      width: 60%;
    }
    @media only screen and (min-width: $screen-sm) {
      width: 100%;
    }
  }
  .info {
    padding: 40px 20px;
    @media only screen and (min-width: $screen-sm) {
      padding: 0 15px;   
    }
    ul {
      margin-left: 10%;
        @media only screen and (min-width: $screen-xs) {
          margin-left: 20%;
        }
      li {
        padding-left: 4rem;
        font-size: 1.5rem;
        margin-bottom: 20px;
        background-size: 30px 20px;
      }
    @media only screen and (min-width: $screen-sm) {
      margin-left: 0;      
    }
    }
  }  
}

.photos {
  padding: 80px 0;
}

footer {
  background: $blue-base;
  text-align: center;  
  padding: 20px 0;
  p {    
    font-family: $font-family-sans-serif;
    color: $white;
    margin: 0;
  }
}
.map-page footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

/* --------------  ICONS -------------- */

.icon {
  display: inline-block;
}

.icon-travel {
  width: 100px;
  height: 40px;
  margin-top: 10px;
  text-indent:-9999px;

  @media only screen and (min-width: $screen-sm) {
    width: 150px;
    height: 50px;
    margin-top: 13px;
  }
}

.icon-globe {
  width: 70px;
  height: 70px;
  display: block;
  margin: 17px auto 0;

  @media only screen and (min-width: $screen-sm) {
    width: 100px;
    height: 100px;
    margin: 20px auto 0;
  }
  @media only screen and (min-width: $screen-lg) {
    width: 150px;
    height: 150px;
    margin: 30px auto 0;
  }
}

.icon-daycount, .icon-watch {
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 0;    
  left: 0;
  @media only screen and (min-width: $screen-sm) {
    bottom: 3px;
  }
  @media only screen and (min-width: $screen-lg) {
    width: 30px;
    height: 30px;       
  }
}

.icon-calendar {  
  height: 35px;
  width: 35px;
  position: absolute;
  top: 2px;
  left: 15px;    
}

.icon-japan, .icon-cambodia, .icon-thailand, .icon-malaysia, .icon-indonesia, .icon-turkey, .icon-vietnam {
  width: 65px;
  height: 65px;
  display: block;
  margin: 17px auto 0;

  @media only screen and (min-width: $screen-sm) {
    width: 80px;
    height: 80px;
    margin: 20px auto 0;
  }
  @media only screen and (min-width: $screen-lg) {
    width: 100px;
    height: 100px;
    margin: 30px auto 0;
  }
}

.icon-suitcase, .icon-map, .icon-take-off {
  width: 60px;
  height: 60px;
  display: block;
  margin: 0 auto 20px;
}


/* ----------  GALLERY ------------- */

.my-gallery {
  width: 100%;
  float: left;
}
.my-gallery img {
  width: 100%;
  height: auto;
}
.my-gallery figure {
  display: block;
  float: left;
  padding: 3px;
  width: 33.333%;
  @media only screen and (min-width: $screen-sm) {
    width: 25%;
  }
  @media only screen and (min-width: $screen-lg) {
    width: 20%;
  }
}
.my-gallery figcaption {
  display: none;
}


/* --------------- MAP ---------------- */

.map-page, .map-page body, .map-page main, .map-page #map {
  height: 100%;
  width: 100%;
}

.leaflet-top {
  top: 65px;
  @media only screen and (min-width: $screen-sm) {
    top: 90px;
  }  
}
@media only screen and (min-width: $screen-sm) {
  .leaflet-left {
    left: 15px;
  }
}

.leaflet-bottom, .leaflet-right {
  bottom: 60px;
}


/* -------------- PRELOADER -------------- */

.preloader{
    position: fixed;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    background: $blue-base;
    z-index: 99999;
}

.preloader .preloader-gif{
    display: none;
    width: 120px;
    height: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -60px 0 0 -60px;   
    color: $yellow-base;
    text-align: center;
}

.no-js .preloader {
  display: none;
}