
.icon-daycount {
	background-image: url('png/daycount.png');
	background-repeat: no-repeat;
}

.icon-globe {
	background-image: url('png/globe.png');
	background-repeat: no-repeat;
}

.icon-indonesia {
	background-image: url('png/indonesia.png');
	background-repeat: no-repeat;
}

.icon-japan {
	background-image: url('png/japan.png');
	background-repeat: no-repeat;
}

.icon-language {
	background-image: url('png/language.png');
	background-repeat: no-repeat;
}

.icon-malaysia {
	background-image: url('png/malaysia.png');
	background-repeat: no-repeat;
}

.icon-map {
	background-image: url('png/map.png');
	background-repeat: no-repeat;
}

.icon-population {
	background-image: url('png/population.png');
	background-repeat: no-repeat;
}

.icon-suitcase {
	background-image: url('png/suitcase.png');
	background-repeat: no-repeat;
}

.icon-take-off {
	background-image: url('png/take-off.png');
	background-repeat: no-repeat;
}

.icon-thailand {
	background-image: url('png/thailand.png');
	background-repeat: no-repeat;
}

.icon-travel {
	background-image: url('png/travel.png');
	background-repeat: no-repeat;
}

.icon-turkey {
	background-image: url('png/turkey.png');
	background-repeat: no-repeat;
}

.icon-vietnam {
	background-image: url('png/vietnam.png');
	background-repeat: no-repeat;
}

.icon-watch {
	background-image: url('png/watch.png');
	background-repeat: no-repeat;
}

.icon-calendar {
	background-image: url('png/calendar.png');
	background-repeat: no-repeat;
}

.icon-calendar-dark {
	background-image: url('png/calendar-dark.png');
	background-repeat: no-repeat;
}

.icon-cambodia {
	background-image: url('png/cambodia.png');
	background-repeat: no-repeat;
}

.icon-capital {
	background-image: url('png/capital.png');
	background-repeat: no-repeat;
}

.icon-currency {
	background-image: url('png/currency.png');
	background-repeat: no-repeat;
}